NezhaBaseUrl=https://status.2054.eu.org
NezhaAuth=7NaaJg3mlw7tr1HiHvnhL99bBvALyGrI
DefaultLocale=zh
NEXT_PUBLIC_NezhaFetchInterval=5000
NEXT_PUBLIC_ShowFlag=true
NEXT_PUBLIC_DisableCartoon=true
NEXT_PUBLIC_ShowTag=true
